.root{
    --dark: #1a1a1a;
    --white: #ffffff;
    --ligth-grey: #efefef;
    --silver: #e3e4e5;

}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.5;
    background-color: #1a1a1a;
}

#slider {
    padding: 0;
    position: Center;
    margin-top: -5rem;

}
